@{
    ViewBag.Title = "About";
}

<style>
    .btn-primary{
        width:auto;
        margin-left: 5px;
    }
</style>

<div class="jumbotron">
    <h1>Busca</h1>
    <p class="lead">Filtrar repositórios pelo nome ou parte do nome</p>
    <form class="form-horizontal">
        <row class="form-group row">
            <input class="form-control col-md-2" type="text" name="repository" placeholder="Nome do Repositório"/>
            <button class="btn btn-primary col-md-3" type="button">Buscar</button>
        </row>
        
    </form>
    <p>Listar os repositórios filtrados em forma de link</p>
</div>

