@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h1>Favoritos</h1>
    <p class="lead">Lista os repositórios favoritos</p>
    <ul>
        <li><a href="/Home/Details">Repositório Teste01</a></li>
        <li><a href="/Home/Details">Repositório Teste02</a></li>
        <li><a href="/Home/Details">Repositório Teste03</a></li>
        <li><a href="/Home/Details">Repositório Teste04</a></li>
    </ul>
    
</div>