
@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h1>Detalhes - Repositório Teste01</h1>
    <p>Autor: </p>
    <p>Linguagem: </p>
    <p>Descrição: </p>
    <p>Última atualização: </p>
    <p>Contribuidores: </p>
    <ul>
        <li>Autor 01</li>
        <li>Autor 02</li>
        <li>Autor 03</li>
    </ul>
</div>


