@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Meus Repositórios</h1>
    <p class="lead">Lista todos os repositórios do usuário</p>
    <ul>
        <li><a href="/Home/Details">Repositório Teste01</a></li>
        <li><a href="/Home/Details">Repositório Teste02</a></li>
        <li><a href="/Home/Details">Repositório Teste03</a></li>
        <li><a href="/Home/Details">Repositório Teste04</a></li>
    </ul>
</div>
